<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hmdapps.sousou1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/new_logo"
        android:label="امتحان السياقة "
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/new_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:ignore="AllowBackup,ExtraText"
        tools:targetApi="n">

        <activity android:name=".Feedback"
            android:label="@string/conact_nous"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CorrigeMafahim"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CorrigeTachwiir2"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CorrigeAsbaqia"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CorrigeRoaya"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Roaya"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".Asbaqia"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".TachirToroqi2"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".CorrigeSaiq"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Saiq"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".CorrigeIsaafat"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CorrigeTachwir"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".IsaafatAwalia"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".TachwirToroqi"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".CorrigeAlwoqof"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CorrigerQawaidSair"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".QawaidSayr"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".MafahimTatbiqia"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".CorrigeTajawoz"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AlwoqoWaTawqof"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".AtaqaboWaAtajawoz"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".ExamenSeries"
            android:label="@string/ques_examen"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity5" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3762456917778098~9156639131" />

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity4"
            android:parentActivityName=".ExamenSeries"/>
        <activity android:name=".MainActivity3"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity2"
            android:label="@string/nouveau_serie"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />

        <service android:name=".FcmInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FcmMessagingService"
            android:permission="TODO"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>